/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body{
    background: rgba(128, 128, 128, 0.08);
}

*{
    font-family: "Open Sans";
}

*:focus {
    outline: none;
}


pre code span , pre code{
    font-family: "Source Code Pro", Monaco, monospace !important;
}

code {
    background-color: rgba(0,0,0,0.05);
    color:black;
    padding:5px;
}

p > code {
    border : 1px solid lightgray;
}

#devise_root{
    width: 250px;
    margin: 0 auto;
    margin-top: 150px;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    background:white;
}

#devise_root h2{
    text-align: center;
}

#devise_root input[type="email"] , #devise_root input[type="password"]{
    width:100%;
    border:1px solid lightgray;
    border-radius: 5px;
    padding:3px;

    margin:3px;
    margin-left:0px;

}

#devise_root input[type="submit"]{
    display:inline-block;
    width:100%;
    text-align: center;
    padding:7px;
    margin:5px;
    background:#fafafa;
    border-radius :5px;
    border:1px solid lightgray;
    margin-bottom: 15px;
    margin-left:0px;
}

#devise_root input[type="submit"]:hover{
    background: gray;
    color:white
}