// Place all the styles related to the SheetDashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

td{
  text-align: center;
  padding:20px;
}

td:first-child{
  text-align: right;
}

td,th{
  border:none!important;
}