<!DOCTYPE html>
<html>
<head>
  <title>{APPNAME}</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'index', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body>

<div id="header">
  <a href="/lectures" class="header-button">Login</a>
  <a href="/lectures" class="header-button">Sign up</a>
</div>

<div id="top-container">
  <img id="icon-top" src="assets/icon-big.png"/>
</div>

<img id="banner" src="assets/banner.png"/>

</body>
</html>
